body{
  background-color:#173333;
  color: #93FFE8 ;
  overflow: hidden;
}

h1{
  text-align: center;
}

.objectives-wrapper{
background:#2d4e4e;
padding: 2%;
width: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
max-height: 80vh;
overflow-y: auto;
box-shadow: 0px 5px 7px black;
border-radius: 20px;
}

.objectives-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid ;
  padding-bottom: 24px;
  margin-bottom: 24px;

}


.objectives-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 24px;
}


.objectives-input-item label{
font-weight: bold;
margin-bottom: 10px;
}

.objectives-input-item input{
  padding: 9px;
  border-radius: 4px;
  border: none;
  width: 250px;
}


.objectives-input-item input:focus{
  outline: 2px solid #58e7e7;
}

.primary-button{
  background-color: #297575 ;
  color: white;
  border: none;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 24px;
  font-weight: bold;
  width: 60px;
  cursor: pointer;
}

.primary-button:hover{
  transition: 300ms;
  background-color: rgb(90, 201, 76);
}


.secondary-button1{
  background-color: #297575 ;
  color: white;
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 15px;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}

.secondary-button2{
  background-color: #297575 ;
  color: white;
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 5px;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}

.secondary-button1:hover{
  transition: 300ms;
  background-color: rgb(64, 102, 59);
}

.secondary-button2:hover{
  transition: 300ms;
  background-color: rgb(90, 201, 76);
}

.active1{
  background-color: rgb(64, 102, 59);
}

.active2{
  background-color: rgb(90, 201, 76);
}


.objectives-list{
  display: flex;
  flex-direction: column;
}


.objectives-list-item{
  background-color: #173333;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px #173333;

}

.objectives-list-item h3{
  font-size: 25px;
  color: #58e7e7;
  margin: 0;
}

.objectives-list-item p{
  font-size: 15px;
  color: #297575;
  margin-top: 8px;
}

.icon{
  font-size: 35px;
  cursor: pointer;
}

.check-icon{
  font-size: 35px;
  margin-left: 10px;
  cursor: pointer;
}

.delete-icon:hover{
  transition: 300ms;
  color: red;
}

.check-icon:hover{
  transition: 300ms;
  color:  rgb(30, 255, 0);
}

.edit__wrapper{
  margin-top: 15px;
  background-color: #173333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.edit__wrapper input,.edit__wrapper textarea:focus{
  outline: 2px solid #58e7e7;
}

.edit__wrapper input,.edit__wrapper textarea{
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
}

.edit__wrapper .primaryBtn{
  background-color: #297575 ;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 13px;
  margin-top: 14px;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}